.App {
  text-align: center;
  margin-top: 15px;

}

.App .navbar-brand{
  font-weight: bold;
}


.App .navbar{
  background-color: #c86b85;
  color: #f5eee6;
}

p{
  color: #f5eee6;
}

.App .navbar-collapse .nav .navitem{
  color: #f5eee6;

}

/*https://colorhunt.co/palette/121977*/